
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background: #000;
    color: rgb(122,121,121);
    overflow-x: hidden;
    border-bottom: 3px solid pink;

}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 10px 0;  
  background: #000;   
}



#desktop-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    height: 18vh;
    border-bottom: 3px solid #000;
    position: relative;
    z-index: 100;
}

.logo {
    font-size: 2rem;
    user-select: none;
}


.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

.nav-links a {
    color: rgb(122,121,121);
    text-decoration: none;
}

.nav-links a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 0.35rem;
}


.hamburger {
    display: none; 
    background: transparent;
    border: 0;
    cursor: pointer;
    width: 48px;
    height: 48px;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 120;
    background-color: black;
    flex-direction: column;
}


.hamburger span {
    display: block;
    width: 28px;
    height: 3px;
    background: #ffffff;
    border-radius: 2px;
    transition: 0.3s ease;
}

.hamburger span:nth-child(2) {
    margin: 6px 0;
}

#desktop-nav.open .hamburger .top {
    transform: translateY(9px) rotate(45deg);
}

#desktop-nav.open .hamburger .middle {
    opacity: 0;
}

#desktop-nav.open .hamburger .bottom {
    transform: translateY(-9px) rotate(-45deg);
}


@media (max-width: 900px) {
    .hamburger {
        display: flex;
    }

    #desktop-nav {
        height: auto;
        padding: 0 1rem;
    }

    #desktop-nav .nav-links {
        position: fixed;
        top: 0;
        right: -110%;
        height: 100vh;
        width: min(320px, 80%);
        background: linear-gradient(180deg, rgba(255,255,255,0.98), rgba(250,250,250,0.98));
        box-shadow: -8px 0 24px rgba(0,0,0,0.12);
        flex-direction: column;
        padding: 5.5rem 1.5rem;
        gap: 1.25rem;
        transition: right 320ms cubic-bezier(.22,.9,.3,1);
        z-index: 55;
    }

    #desktop-nav.open .nav-links {
        right: 0;
    }

    
    #desktop-nav.open::after {
        content: "";
        position: fixed;
        inset: 0;
        background: rgba(0,0,0,0.35);
        z-index: 50;
    }

    #desktop-nav .nav-links a {
        color: #111;
        font-weight: 600;
        padding: 0.5rem 0;
        display: block;
        font-size: 1.05rem;
    }
}



.hero {
    position: relative;
    width: 100%;
    height: 70vh;
    min-height: 420px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 160px;
}

.hero-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #fff;
    padding: 0 1rem;
}

.hero-content h1 {
    margin: 0 0 0.5rem;
    font-size: clamp(1.8rem, 4vw, 3.5rem);
    letter-spacing: 0.02em;
    text-shadow: 0 6px 22px rgba(0,0,0,0.45);
}

.hero-content .sub {
    margin: 0;
    font-size: clamp(1rem, 2.2vw, 1.25rem);
    opacity: 0.95;
}

@media (max-width: 600px) {
    .hero {
        height: 55vh;
        min-height: 320px;
    }
    .hero-content h1 {
        font-size: clamp(1.4rem, 6vw, 2rem);
    }
}

.about-us{
    text-decoration: underline;
    text-underline-offset: 20px;
    margin-left: 200px;
    position: relative;
    top: 1rem;
}

#p1{
    padding-left: 200px;
    line-height: 2;
    position: relative;
    top: 3rem;
}
#img1{
    margin-left: 800px;
   position: relative;
   top: 19rem;
}
#img2{
    position: relative;
    top: 200px;
    left: 10rem;
    border-radius: 2rem;
    
   
}
#img3{
    position: relative;
    top: 200px;
    left: 16rem;
    border-radius: 2rem;
}
#rooms{
    text-align: center;
    text-underline-offset: 20px;
    background: rgba(139, 133, 133, 0.062);
    height: 15rem;
    width: 71rem;
    left: 4rem;
    position: relative;
    top: 20rem;
    border-radius: 2rem;
}
.our-rooms{
    position: relative;
    text-decoration: underline;
    top: 3rem;
}
h5{
    position: relative;
    top: 6rem;
    text-decoration: none;
    font-size: 20px;
}
#btn{
    color: #b6b1b1;
    background-color: rgba(41, 39, 39, 0.144);
    top: 6rem;
    position: relative;
    right: 28rem;
    padding: 11px 26px;
    border-radius: 2rem;
    cursor: pointer;
}
#btn:hover{
    color: #382d2d;
}
#welcome2{
    position: relative;
    top: 10rem;
    text-align: center;
     text-underline-offset: 20px;
     text-decoration: underline;
    background: rgba(139, 133, 133, 0.062);
   padding: 12px 24px;
    width: 50rem;
    position: relative;
    left: 14rem;
    border-radius: 1rem;
}
#img4{
    position: relative;
    top: 400px;
    left: 7rem;
    border-radius: 2rem;
}
#img5{
    position: relative;
    top: 400px;
    left: 16rem;
    border-radius: 2rem;
}
.image-container {
  position: relative; 
  max-width: 440px; 
  display: inline-block; 
  left: 10rem;
  top: 25rem; 
  

}

.image-container img {
  width: 100%; 
  height: 30rem;
  position: relative;
  display: block;
  border-radius: 3rem;
 
  
}


.overlay-text {
  position: relative; 
  bottom: 50px; 
  left: 26px;  
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
  font-family: sans-serif;
  text-transform: uppercase;
}

.room-type {
  font-size: 1.1em; 
  font-weight: 900;
  line-height: 1.2;
  margin: 0;
}

.price {
  font-size: 0.7em; 
  font-weight: 500;
  margin: 0;
}
.image-container2 {
  position: relative; 
  max-width: 440px; 
  display: inline-block; 
  left: 10rem;
  top: 23.1rem;
 
}

.image-container2 img {
  width: 100%; 
  height: 30rem;
  position: relative;
  bottom: 55rem;
  left: 22rem;
  display: block; 
   border-radius: 3rem;
}


.overlay-text2 {
  position: absolute; 
  bottom: 899px; 
  left: 375px;  
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
  font-family: sans-serif;
  text-transform: uppercase;
}

.room-type2 {
  font-size: 1.1em; 
  font-weight: 900;
  line-height: 1.2;
  margin: 0;
}

.price2 {
  font-size: 0.7em; 
  font-weight: 500;
  margin: 0;
}
.image-container3 {
  position: relative; 
  max-width: 440px; 
  display: inline-block; 
  left: 10rem;
  top: 23.1rem;
 
}

.image-container3 img {
  width: 100%; 
  height: 30rem;
  position: relative;
  bottom: 55rem;
  left: 22rem;
  display: block; 
   border-radius: 3rem;
}


.overlay-text3 {
  position: absolute; 
  bottom: 899px; 
  left: 375px;  
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
  font-family: sans-serif;
  text-transform: uppercase;
}

.room-type3 {
  font-size: 1.1em; 
  font-weight: 900;
  line-height: 1.2;
  margin: 0;
}

.price3 {
  font-size: 0.7em; 
  font-weight: 500;
  margin: 0;
}
.image-container4 {
  position: relative; 
  max-width: 440px; 
  display: inline-block; 
  left: 0.3rem;
  bottom: 62rem; 
  

}

.image-container4 img {
  width: 100%; 
  height: 30rem;
  position: relative;
  display: block;
  border-radius: 3rem;
 
  
}


.overlay-text4 {
  position: relative; 
  bottom: 50px; 
  left: 26px;  
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
  font-family: sans-serif;
  text-transform: uppercase;
}

.room-type4 {
  font-size: 1.1em; 
  font-weight: 900;
  line-height: 1.2;
  margin: 0;
}

.price4 {
  font-size: 0.7em; 
  font-weight: 500;
  margin: 0;
}

#apartment{
    text-align: center;
    text-underline-offset: 20px;
    background: rgba(139, 133, 133, 0.062);
    height: 15rem;
    width: 71rem;
    right: 6.1rem;
    position: relative;
    bottom: 55rem;
    border-radius: 2rem;
}
.our-apartment{
    position: relative;
    text-decoration: underline;
    top: 3rem;
}
#myh5{
    position: relative;
    top: 6rem;
    text-decoration: none;
    font-size: 20px;
}

.apartment1{
    position: relative;
    top: 15rem;
}

#interior1{
  position: relative; 
  max-width: 440px; 
  display: inline-block; 
  left: 0rem;
  top: 2rem; 
  

}

#interior1 img {
  width: 100%; 
  height: 30rem;
  position: relative;
  display: block;
  border-radius: 3rem;
 
  
}
#interior2{
  position: relative; 
  max-width: 440px; 
  display: inline-block; 
  left: 2rem;
  top: 2rem; 
  

}

#interior2 img {
  width: 100%; 
  height: 30rem;
  position: relative;
  display: block;
  border-radius: 3rem;
 
  
}

#interior3{
    position: relative;
    top: 6rem;
}
.apartment-room1{
    position: relative;
    top: 10rem;
}

.apartment2{
    position: relative;
    top: 15rem;
}

#interior4{
  position: relative; 
  max-width: 440px; 
  display: inline-block; 
  left: 0rem;
  top: 53rem;
  

}

#interior4 img {
  width: 100%; 
  height: 30rem;
  position: relative;
  display: block;
  border-radius: 3rem;
 
  
}
#interior5{
  position: relative; 
  max-width: 440px; 
  display: inline-block; 
  left: 33rem;
  top: 22.5rem; 
  

}

#interior5 img {
  width: 100%; 
  height: 30rem;
  position: relative;
  display: block;
  border-radius: 3rem;
 
  
}

#interior6{
    position: relative;
    top: 26rem;
    width: 250%; 
    right: 5rem;
}
.apartment-room2{
    position: relative;
    top: 10rem;
}
.price6{
    position: relative;
    bottom: 0rem;
}
.apartment-room3{
    position: relative;
    top: 30rem;
    left: 13rem;
    
}
#myimg1{
    position: relative;
    top: 50rem;
    width: 250%; 
    right: 5rem;
}